<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Tipo documento:</strong>
    <%= user.tipo_documento %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= user.documento %>
  </p>

</div>
