<div id="<%= dom_id crochet %>">
  <p>
    <strong>Modelo:</strong>
    <%= crochet.modelo %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= crochet.color %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= crochet.cantidad %>
  </p>

</div>
