<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="_car.css">
  <title>cars</title>
</head>
<body>
    <div class="car-element">
      <h3>ID: <%= car.id %></h3>
      <p><strong>Modelo:</strong> <%= car.modelo %></p>
      <p><strong>Placa:</strong> <%= car.placa %></p>
    </div>
</body>
</html>