<div id="<%= dom_id laura %>">
  <p>
    <strong>Personalidad:</strong>
    <%= laura.personalidad %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= laura.caracteristicas %>
  </p>

</div>
