<% content_for :title, "Editing laura" %>

<h1>Editing laura</h1>

<%= render "form", laura: @laura %>

<br>

<div>
  <%= link_to "Show this laura", @laura %> |
  <%= link_to "Back to lauras", lauras_path %>
</div>
